# ------------------------------
# Rust build artifacts
# ------------------------------
**/target/
**/*.rs.bk

# ------------------------------
# WASM / web build outputs
# ------------------------------

# ------------------------------
# Node / frontend dependencies
# ------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ------------------------------
# Python cache / virtual envs
# ------------------------------
__pycache__/
*.py[cod]
.venv/
venv/

# ------------------------------
# IDE/editor metadata
# ------------------------------
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

anzu-engine/.vscode/*
!anzu-engine/.vscode/settings.json
!anzu-engine/.vscode/extensions.json
!anzu-engine/.vscode/launch.json

# ------------------------------
# OS and temporary junk
# ------------------------------
.DS_Store
Thumbs.db
*.swp
*.swo
*~
*.tmp
*.temp
